{"id":"1587405563141033984","version":1,"regionId":"1587341384744964096","userId":"1587405386795716608","domain":"ereee.com","securitySetting":{"level":"Middle","captchaFresh":"30"},"antiStealingLinkConfig":{"emptyRefererStrategy":-1},"cacheConfig":{"cacheLevel":"CacheLevelIgnoreQuery","cacheInMinutes":240,"refresh":"60","maxFileSize":"1024"},"errPageConfig":{},"networkConfig":{"trueClientIpMode":"TrueClientIP_ModeStandard"},"managedRule":{}}