url_regex=.* scheme=http action=never-cache
url_regex=.* scheme=https action=never-cache
url_regex=.* suffix=XML ttl-in-cache=5d0m0s
url_regex=.* suffix=TXT ttl-in-cache=5d0m0s
url_regex=.* suffix=HTM ttl-in-cache=5d0m0s
url_regex=.* suffix=HTML ttl-in-cache=5d0m0s
url_regex=.* suffix=CSS ttl-in-cache=5d0m0s
url_regex=.* suffix=JS ttl-in-cache=5d0m0s
url_regex=.* suffix=SVG ttl-in-cache=1d1h0m0s
url_regex=.* suffix=GIF ttl-in-cache=1d1h0m0s
url_regex=.* suffix=JPG ttl-in-cache=1d1h0m0s
url_regex=.* suffix=PNG ttl-in-cache=1d1h0m0s
url_regex=.* suffix=WERWER ttl-in-cache=99999d0m0s
url_regex=.* suffix=WXT ttl-in-cache=99999d0m0s
url_regex=.* suffix=12312312 ttl-in-cache=4166d15h0m0s
url_regex=.* suffix=TEST ttl-in-cache=1d0m0s


url_regex=1b.com/2 ttl-in-cache=20m0s
url_regex=1b.com/.* ttl-in-cache=20m0s
url_regex=222.myces/1 ttl-in-cache=20m0s
url_regex=myceshi.xyz/24342534243 ttl-in-cache=20m0s
url_regex=wechat.com/e ttl-in-cache=20m0s
url_regex=wechat.com/4243212322e2sdfc11sdvdasjhfafhddafdsfhsgafhdghwhfudshfcsdqghcomghwhfudshfcsdqghcom243212322e2sdfc11sdvdasjhfafhddafdsfhsgafhdghwhfudshfcsdqghcomghwhfudshfcsdqghcom ttl-in-cache=20m0s
url_regex=wechat.com/4243212322e2sdfc11sdvdasjhfafhddafdsfhsgafhdghwhfudshfcsdqghcomghwhfudshfcsdqghcom ttl-in-cache=20m0s
url_regex=wechat.com ttl-in-cache=20m0s
url_regex=wechat.com/www.baidu.com ttl-in-cache=20m0s
url_regex=wechat.com/o ttl-in-cache=20m0s
url_regex=wechat.com/w ttl-in-cache=20m0s
url_regex=xsacd.com/2514514 ttl-in-cache=20m0s
url_regex=xsacd.com/1252154 ttl-in-cache=20m0s