dest_domain=ewtest21699.1212.com parent="192.168.1.5:80|1" parent_is_proxy=false round_robin=weighted

dest_domain=xsxasxa.222.myces parent="114.114.114.114:80|1" parent_is_proxy=false round_robin=weighted

dest_domain=we.d.ncn parent="11.11.11.11:20|1,192.168.1.1:90|1,192.168.2.12:1|1" parent_is_proxy=false round_robin=weighted

dest_domain=w.daiyu1.com parent="192.168.2.12:80|1" parent_is_proxy=false round_robin=weighted

dest_domain=123.daiyu8.com parent="192.168.1.2:80|1" parent_is_proxy=false round_robin=weighted

dest_domain=adad.ddddddddddddddddddddddddddddddddddddqwweqweqwdsad.com parent="125.145.54.11:80|1,192.165.1.1:80|1" parent_is_proxy=false round_robin=weighted

dest_domain=cdddddddddddddddddddddddddddccqwqwqqqqqqqq.fands004.com parent="127.0.0.3:80|1" parent_is_proxy=false round_robin=weighted

dest_domain=fandsjob.live parent="192.168.5.5:80|1" parent_is_proxy=false round_robin=weighted
dest_domain=www.fandsjob.live parent="192.168.5.5:80|1" parent_is_proxy=false round_robin=weighted

dest_domain=w1.myceshi.club parent="192.168.2.7:80|1" parent_is_proxy=false round_robin=weighted
dest_domain=w2.myceshi.club parent="192.168.51.2:80|1" parent_is_proxy=false round_robin=weighted
dest_domain=parent.wildcard.cdn.myceshi.club parent="192.168.51.2:80|1" parent_is_proxy=false round_robin=weighted

dest_domain=parent.wildcard.cdn.myceshi.today parent="1.1.1.1:80|1" parent_is_proxy=false round_robin=weighted
dest_domain=baidu.com parent="192.168.1.2:8000|1" parent_is_proxy=false round_robin=weighted
dest_domain=www.myceshi.today parent="12.231.12.1:80|1,192.168.2.7:80|1" parent_is_proxy=false round_robin=weighted

dest_domain=www.myceshi.xyz parent="192.168.2.7:80|1" parent_is_proxy=false round_robin=weighted

dest_domain=rtearae.pufan.live parent="192.168.1.2:80|1" parent_is_proxy=false round_robin=weighted

dest_domain=a1.test-fands008.com parent="192.168.2.2:123|1" parent_is_proxy=false round_robin=weighted

dest_domain=www.test.com parent="15.1.1.1:80|1" parent_is_proxy=false round_robin=weighted
dest_domain=fsd.test.com parent="15.1.41.19:80|1" parent_is_proxy=false round_robin=weighted
dest_domain=fsa.test.com parent="15.1.3.1:80|1" parent_is_proxy=false round_robin=weighted

dest_domain=www.test001.cc parent="192.168.51.2:80|1" parent_is_proxy=false round_robin=weighted

dest_domain=wwwbaducom.wechat.com parent="192.167.9.0:80|1" parent_is_proxy=false round_robin=weighted
dest_domain=fsf.wechat.com parent="192.27.0.9:80|1" parent_is_proxy=false round_robin=weighted

dest_domain=xsacsdc.xsacd.com parent="114.114.114.114:80|1" parent_is_proxy=false round_robin=weighted

dest_domain=yeqmmm.yeqwon.com parent="192.168.1.1:80|1" parent_is_proxy=false round_robin=weighted

dest_domain=a.youmeiyou.com parent="127.0.0.1:80|1" parent_is_proxy=false round_robin=weighted

dest_domain=sogou.com parent="114.114.114.114:888|1,166.166.166.166:9999|1" parent_is_proxy=false round_robin=weighted
