redirect_temporary http://ewtest21699.1212.com:80/ https://ewtest21699.1212.com:443/
redirect_temporary http://ewtest21699.1212.com:2001/ https://ewtest21699.1212.com:443/
redirect_temporary http://ewtest21699.1212.com:2002/ https://ewtest21699.1212.com:443/
redirect_temporary http://ewtest21699.1212.com:2005/ https://ewtest21699.1212.com:443/

map https://ewtest21699.1212.com:443/ http://ewtest21699.1212.com


redirect_temporary http://xsxasxa.222.myces:80/ https://xsxasxa.222.myces:443/

map https://xsxasxa.222.myces:443/ http://xsxasxa.222.myces


redirect_temporary http://22.baidu111.com:80/ https://22.baidu111.com:443/
redirect_temporary http://22.baidu111.com:2001/ https://22.baidu111.com:443/
redirect_temporary http://22.baidu111.com:2002/ https://22.baidu111.com:443/
redirect_temporary http://22.baidu111.com:2005/ https://22.baidu111.com:443/

map https://22.baidu111.com:443/ http://we.d.ncn



map http://w.daiyu1.com:80/ http://w.daiyu1.com
map https://w.daiyu1.com:443/ http://w.daiyu1.com


redirect_temporary http://123.daiyu8.com:80/ https://123.daiyu8.com:443/

map https://123.daiyu8.com:443/ http://123.daiyu8.com
map https://123.daiyu8.com:20002/ http://123.daiyu8.com
map https://123.daiyu8.com:10001/ http://123.daiyu8.com


redirect_temporary http://adad.ddddddddddddddddddddddddddddddddddddqwweqweqwdsad.com:80/ https://adad.ddddddddddddddddddddddddddddddddddddqwweqweqwdsad.com:443/
redirect_temporary http://adad.ddddddddddddddddddddddddddddddddddddqwweqweqwdsad.com:5000/ https://adad.ddddddddddddddddddddddddddddddddddddqwweqweqwdsad.com:443/

map https://adad.ddddddddddddddddddddddddddddddddddddqwweqweqwdsad.com:443/ http://adad.ddddddddddddddddddddddddddddddddddddqwweqweqwdsad.com
map https://adad.ddddddddddddddddddddddddddddddddddddqwweqweqwdsad.com:10002/ http://adad.ddddddddddddddddddddddddddddddddddddqwweqweqwdsad.com



map http://cdddddddddddddddddddddddddddccqwqwqqqqqqqq.fands004.com:80/ http://cdddddddddddddddddddddddddddccqwqwqqqqqqqq.fands004.com
map https://cdddddddddddddddddddddddddddccqwqwqqqqqqqq.fands004.com:443/ http://cdddddddddddddddddddddddddddccqwqwqqqqqqqq.fands004.com



map http://fandsjob.live:8080/ http://fandsjob.live
map http://fandsjob.live:8081/ http://fandsjob.live
map http://fandsjob.live:20001/ http://fandsjob.live
map https://fandsjob.live:10001/ http://fandsjob.live
map https://fandsjob.live:10002/ http://fandsjob.live
map https://fandsjob.live:20002/ http://fandsjob.live
map http://fandsjob.live:80/ http://fandsjob.live
map https://fandsjob.live:443/ http://fandsjob.live
map http://www.fandsjob.live:20001/ https://www.fandsjob.live
map https://www.fandsjob.live:10001/ https://www.fandsjob.live
map https://www.fandsjob.live:10002/ https://www.fandsjob.live
map https://www.fandsjob.live:20002/ https://www.fandsjob.live
map http://www.fandsjob.live:80/ https://www.fandsjob.live
map https://www.fandsjob.live:443/ https://www.fandsjob.live
map http://www.fandsjob.live:8080/ https://www.fandsjob.live
map http://www.fandsjob.live:8081/ https://www.fandsjob.live



map http://w1.myceshi.club:80/ http://w1.myceshi.club
map https://w1.myceshi.club:443/ http://w1.myceshi.club
map http://w2.myceshi.club:80/ http://w2.myceshi.club
map https://w2.myceshi.club:443/ http://w2.myceshi.club
regex_map http://(.*)\.myceshi\.club:80/ http://parent.wildcard.cdn.myceshi.club
regex_map https://(.*)\.myceshi\.club:443/ http://parent.wildcard.cdn.myceshi.club


regex_redirect_temporary http://(.*)\.myceshi\.today:80/ https://$1.myceshi.today:443/
redirect_temporary http://aertsa.myceshi.today:80/ https://aertsa.myceshi.today:443/
redirect_temporary http://www.myceshi.today:80/ https://www.myceshi.today:443/

regex_map https://(.*)\.myceshi\.today:443/ http://parent.wildcard.cdn.myceshi.today
regex_map https://(.*)\.myceshi\.today:10002/ http://parent.wildcard.cdn.myceshi.today
regex_map https://(.*)\.myceshi\.today:15000/ http://parent.wildcard.cdn.myceshi.today
map https://aertsa.myceshi.today:443/ http://baidu.com
map https://aertsa.myceshi.today:10002/ http://baidu.com
map https://aertsa.myceshi.today:15000/ http://baidu.com
map https://www.myceshi.today:443/ http://www.myceshi.today
map https://www.myceshi.today:10002/ http://www.myceshi.today
map https://www.myceshi.today:15000/ http://www.myceshi.today


redirect_temporary http://www.myceshi.xyz:80/ https://www.myceshi.xyz:15000/
redirect_temporary https://www.myceshi.xyz:443/ https://www.myceshi.xyz:15000/

map https://www.myceshi.xyz:15000/ http://www.myceshi.xyz



map https://rtearae.pufan.live:20002/ http://rtearae.pufan.live
map http://rtearae.pufan.live:80/ http://rtearae.pufan.live
map https://rtearae.pufan.live:443/ http://rtearae.pufan.live
map http://rtearae.pufan.live:8080/ http://rtearae.pufan.live
map http://rtearae.pufan.live:8081/ http://rtearae.pufan.live
map http://rtearae.pufan.live:20001/ http://rtearae.pufan.live
map https://rtearae.pufan.live:10001/ http://rtearae.pufan.live
map https://rtearae.pufan.live:10002/ http://rtearae.pufan.live



map http://a1.test-fands008.com:80/ http://a1.test-fands008.com



map https://www.test.com:443/ http://www.test.com
map http://www.test.com:80/ http://www.test.com
map https://fsd.test.com:443/ http://fsd.test.com
map http://fsd.test.com:80/ http://fsd.test.com
map http://fsa.test.com:80/ http://fsa.test.com
map https://fsa.test.com:443/ http://fsa.test.com



map http://www.test001.cc:80/ http://www.test001.cc
map https://www.test001.cc:443/ http://www.test001.cc



map http://wwwbaducom.wechat.com:80/ http://wwwbaducom.wechat.com
map https://wwwbaducom.wechat.com:443/ http://wwwbaducom.wechat.com
map http://fsf.wechat.com:80/ http://fsf.wechat.com
map https://fsf.wechat.com:443/ http://fsf.wechat.com



map https://xsacsdc.xsacd.com:443/ http://xsacsdc.xsacd.com
map http://xsacsdc.xsacd.com:1025/ http://xsacsdc.xsacd.com
map http://xsacsdc.xsacd.com:1026/ http://xsacsdc.xsacd.com
map http://xsacsdc.xsacd.com:1027/ http://xsacsdc.xsacd.com
map https://xsacsdc.xsacd.com:15555/ http://xsacsdc.xsacd.com
map https://xsacsdc.xsacd.com:16666/ http://xsacsdc.xsacd.com
map https://xsacsdc.xsacd.com:17777/ http://xsacsdc.xsacd.com
map http://xsacsdc.xsacd.com:80/ http://xsacsdc.xsacd.com


redirect_temporary http://yeqmmm.yeqwon.com:80/ https://yeqmmm.yeqwon.com:443/
redirect_temporary http://yeqmmm.yeqwon.com:20001/ https://yeqmmm.yeqwon.com:443/

map https://yeqmmm.yeqwon.com:443/ http://yeqmmm.yeqwon.com
map https://yeqmmm.yeqwon.com:20002/ http://yeqmmm.yeqwon.com



map http://a.youmeiyou.com:80/ http://a.youmeiyou.com
map https://a.youmeiyou.com:443/ http://a.youmeiyou.com
map https://a.youmeiyou.com:20002/ http://a.youmeiyou.com


redirect_temporary http://gg.yyyyy.com:80/ https://gg.yyyyy.com:16666/
redirect_temporary https://gg.yyyyy.com:443/ https://gg.yyyyy.com:16666/
redirect_temporary http://gg.yyyyy.com:1025/ https://gg.yyyyy.com:16666/
redirect_temporary http://gg.yyyyy.com:1026/ https://gg.yyyyy.com:16666/
redirect_temporary http://gg.yyyyy.com:1027/ https://gg.yyyyy.com:16666/
redirect_temporary https://gg.yyyyy.com:15555/ https://gg.yyyyy.com:16666/
redirect_temporary https://gg.yyyyy.com:17777/ https://gg.yyyyy.com:16666/

map https://gg.yyyyy.com:16666/ http://sogou.com

